<% provide(:title, "ヘルプ") %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<section class="help_section">
			<h2>HistoryPostとは</h2>
			<span>
				<p>
					HistoryPost(ヒストリーポスト)は歴史が好きな人、勉強している人、興味がある人が
					それぞれの知識を共有し理解を深めていくために作られたウェブアプリケーションです。<br>ここでは誰でも自分が興味のある歴史の出来事や人物について解説を書くことができ、その中には学校の授業では学べない驚きに満ちたものもあるでしょう。現実は小説より奇なりという言葉が合うようなシュールなものかもしれません。<br>
					学校で勉強するだけではただの暗記になりがちな歴史ですが、その奥深さを少しでも体感していただければ幸いです。
				</p>
			</span>
		</section>
		<section class="help_section">
			<h2>使い方</h2>
			<span>
				<p>
					まずは新規ユーザー登録をしてください。登録すると解説が見られるようになります。<br>
					また、ユーザー登録をすることで自分の解説を投稿することができるようになり、さらに気に入った解説に「いいね！」を押したり気になる投稿者を「フォロー」することができるようになります。フォローしておくと解説の投稿があった際にタイムラインに表示することができます。
				</p>
			</span>
		</section>
		<section class="help_section">
			<h2>注意事項</h2>
			<ol>
				<li>
					<p>
						投稿する解説の内容は世界史・日本史・美術史など歴史に関連するもので構成を願いいたします。<br>
					</p>
				</li>
				<li>
					<p>
						投稿内容は各個人が作成するものであるため事実と異なる内容が含まれる場合がありますが、当アプリケーションは歴史に関心を示すきっかけを提供することを目的としているため、過度な虚偽内容や特定の個人・団体を中傷するものと判断しない限り記事の削除やユーザーアカウントの削除は行われません。
					</p>
				</li>
			</ol>
		</section>
	</div>
</div>