<header class="navbar navbar-fixed-top navbar-default">
  <div class="container header_container">
    <%= link_to "HistoryPost", root_path, data: {"turbolinks" => false}, id: "logo", class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/navigation' %>
      </ul>
    </nav>
  </div>
</header>